
   
* {
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}

/* area whith the "users input */
.questions {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #1202f5;
    border: none;
    cursor: pointer;
    align-items: center;
}

#button,
#response {
    margin: 0 auto;
    width: fit-content;
}

.question-area {
    display: block;
    margin-top: 10px;
}
#sex {
    align-items: center;
}

.result {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

.result:hover {
    background-color: #1707f1;
}


#area {
    color: #666;
    font-size: 16px;
}

#name {
    color: #333;
    font-size: 24px;
}


#response {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
}



/* FOOTER STYLE*/
footer {

    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 14px;
}