* {
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-style: normal;

}


/* Tittle and icons */
#name {
    color: #333;
    font-size: 30px;
}


#area {
    color: #666;
    font-size: 16px;
    border: 5px solid rgb(161, 159, 161);
    box-shadow: 5px 5px rgb(36, 35, 35);
    margin-top: 2px;
    text-align: center;
    color: #999;
    border-radius: 10px;
    padding: 5px 5px;
    border: 2px solid #ccc;
    outline: none;

}

#name>i {
    color: #333;
    font-size: 35px;

}

/*  Selection box from male/female */

.question-area {
    display: block;
    margin-top: 10px;
}

#sex {
    align-items: center;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;

}

/* Lables of the inputs  */

#height,
#weight,
#age {
    color: #333;
    font-size: 18px;

}

#answer-box1,
#answer-box2,
#answer-box3 {

    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;


    color: #5e437e;
    padding: 20px;
}

/* area whith the "users input */
.questions {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #1202f5;
    border: none;
    cursor: pointer;
    align-items: center;

}

#button,
#response {
    margin: 0 auto;
    width: fit-content;

}


/* RESULT BUTTON THAT EXECTUTES THE FUNCTIONS INS JS */

.result {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;

}

.result:hover {
    background-color: #1707f1;
}


#response {
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    color: #333;
    letter-spacing: 1.5px;
}

/* goals of the user Lose and Gain */
#chosen {
    color: #131313;
}




.hidden {
    display: none;

}


/* FOOTER STYLE*/
footer {
    border: 5px solid rgb(161, 159, 161);
    box-shadow: 5px 5px rgb(36, 35, 35);
    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 62px;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;
}


@media screen and (min-width: 768px) {

    #height,
    #weight,
    #age {
        color: #333;
        font-size: 25px;
        display: block;
    }

    #answer-box1,
    #answer-box2,
    #answer-box3 {
        border-radius: 10px;
        padding: 8px 12px;
        border: 3px solid #ccc;
        outline: none;
        color: #5e437e;
        padding: 20px;
    }
};


@media screen and (min-width: 992px) {






    
}
